@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

:root {
    --primary: #282e40;
    --secondary: #fff;
    --tirnary: #5293b7;
}

.b-primary {
    background: var(--primary);
}

.b-secondary {
    background: var(--secondary);
}

.b-tirnary {
    background: var(--tirnary);
}

.tc-primary {
    color: var(--primary);
}

.tc-secondary {
    color: var(--secondary);
}

.tc-tirnary {
    color: var(--tirnary);
}

* {
    font-family: "Poppins", sans-serif;
}
@media (min-width: 992px) {
    #form-container {
        background: url(img/formbg.png);
        background-size: contain;
        background-position-x: right;
        background-repeat: no-repeat;
    }
}
#blog-content {
    height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
    border-top: 2px solid var(--tirnary);
    border-bottom: 2px solid var(--tirnary);
}

#blog-content::-webkit-scrollbar {
    width: 10px;
}
#blog-content::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 0 5px 5px 0;
    box-shadow: inset 0 0 5px black;
}
#blog-content::-webkit-scrollbar-thumb {
    background: linear-gradient(to left, var(--tirnary), var(--primary));
    border-radius: 0 5px 5px 0;
}
